* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #8a66b4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    background-color: #6b38b6;
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.social .name {
    font-size: 18px;
    margin-bottom: 15px;
}

.social .number {
    font-size: 60px;
    font-weight: 700;
}
